.mainsticker{
  display: flex;
}
.mainsticker-image {
  width: 460px;
  margin-right: 32px;
}
.mainstiker-info {

}
.mainsticker-info-profile {
  display: flex;
  align-items: center;
  background: #EDEDF2;
  padding: 11px 16px;
  border-radius: 23px;
  width: min-content;
}
.mainsticker-info-profile__avatar {
  width: 48px;
}
.mainsticker-info-profile__nickname {
  font-size: 20px;
  margin-left: 16px;
}
.mainsticker-info__stickname {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 48px;
  font-weight: 400;
  margin-top: 32px;
  white-space: nowrap;
}
.mainsticker-info-components {
  display: flex;
  margin-top: 32px; 
}
.mainsticker-button {
  font-family: Muller;
  font-size: 20px;
  font-weight: 700;
  border: none;
  background: #46F4DB;
  white-space: nowrap;
  width: min-content;
  border-radius: 40px;
  padding: 25px 74px;
  margin-top: 32px;
}
.mainsticker-button:hover{
  background: linear-gradient(#46F4DB, #57D272);
}
.mainsticker-button:focus{
  background: linear-gradient(#46F4DB, #57D272);
}
.mainsticker-button:active{
  background: #57D272;
}